# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod
    
# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# ide config
/.vs/
/.vscode/

# build
/out/
/build/
## proto build
/protobuf/cpp/src/*.pb.h
/protobuf/cpp/src/*.pb.cc
/protobuf/skynet/src/*.pb

# vcpkg out
/vcpkg_installed/


